.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.country-item {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}
.title-sec {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
  display: flex;
  align-items: center;
}
.expand-tip {
  color: blue;
  margin-left: 20px;
}
.content-sec {
  font-size: 16px;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 20px;
}
.col {
  flex: 1;
}
.clo1 {
  width: 100px;
}
.user-count {
  font-size: 16px;
  margin-left: 20px;
}
.user-item {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-item:last-child {
  border-bottom: none;
}
.avatar {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}
.info-item {
  margin: 0 20px;
}